/* 
   Spotted Wren Garden Center style sheet 
   Filename: styles.css

   Author: Rishabh Patel  
   Date: Oct 30 2022    
   HTML5 and CSS3 Illustrated Unit H, Independent Challenge 1
 */

/* reset styles */
html {
   font-size: 18px;
}
a, article, body, div, dd, dl, dt, figcaption, figure, footer, header, h1, 
h2, h3, img, li, nav, p, section, table, tbody, td, tfoot, th, thead, tr, ul {
   border: 0;
   padding: 0;
   margin: 0;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
img {
   max-width: 100%;
   height: auto;
   width: auto;
}

/* global styles */
p {
   margin: 0.4em 0;
   font-size: 1.1em;
}

/* body and page container */
body {
   font-family: Lato, Arial, Helvetica, sans-serif;
   background: #6ac238;
}
.container {
   max-width: 864px;
   margin: 0 auto;
   position: relative;
}

/* skip navigation link */
p.skipnavigation {
   margin: 0;
}
p.skipnavigation a {
   position: absolute;
   left: -10000px;
}
p.skipnavigation a:focus {
   color: black;
   background-color: snow;
   top: 3.5%;
   left: auto;
   right: 3%;
   z-index: 2;
}

/* header section */
header {
   background-color: white;
   text-align: center;
}
h1 {
   font-weight: 700;
   font-size: 2em;
}
h1 img {
   display: block;
}

/* site navigation */
nav.sitenavigation {
   padding-left: 10%;
   background-color: rgb(241,90,36);
}
nav.sitenavigation li {
   display: inline-block;
   margin: 0.4em 0.6em;
   font-size: 1.1em;
}
nav.sitenavigation a:link {
   color: yellow;
   text-decoration: none;
}
nav.sitenavigation a:visited {
   color: #ffffff;
}
nav.sitenavigation a:hover, nav.sitenavigation a:focus {
   color: yellow;
   text-shadow: 1px -1px 0 #000000;
}

/* main content */
article {
   padding: 1% 1% 1% 5%;
   text-align: left;
   background-color: rgb(255,255,255);
   overflow: auto;
}
h2 {
   margin: 0 0 0.4em;
   font-size: 1.8em;
   font-weight: 700;
}
h3 {
   margin: 1em 0 0.5em;
   font-size: 1.2em;
   font-weight: bold;
   color: green;
}
figure {
   width: 40%;
   float: right;
   text-align: center;
}
.scientific-name {
   font-style: italic;
}

/* main content table */
th, td {
   border: 1px solid black;
   padding: 0.5em;
}
th {
   background-color: yellow;
}
/* main content description list */
dd {
   margin-left: 1em;
   font-style: italic;
}

.temps {
   background-color: #87f547;
}
.frost {
   background-color: #f5a88c;
}

/* main content CSS table */
.table {
   margin: 1em 0;
   display: table;
   font-size: 1.3em;
}
.row {
   display: table-row;
}
.row div {
   display: table-cell;
   padding: 0.25em 0.5em;
}
.day {
   font-weight: bold;
}

/* main content description list */
dd {
   margin-left: 1em;
   font-style: italic;
}

/* main content CSS table */
.table {
   margin: 1em 0;
   display: table;
   font-size: 1.3em;
}
.row {
   display: table-row;
}
.row div {
   display: table-cell;
   padding: 0.25em 0.5em;
}
.day {
   font-weight: bold;
}


/* footer section */
footer {
   padding: 1% 1% 1% 5%;
   background-color: yellow;
   clear: both;
}

/* print styles */
@media print {
   .container, h1, h2, p {
      color: black;
      background: white;
   }
   nav {
      display: none;
   }
}
@page {
   margin: 1in;
}