/* 
   Spotted Wren Garden Center style sheet 
   Filename: styles.css

   Author: Rishabh Patel 
   Date: 10/23/22    
   HTML5 and CSS3 Illustrated Unit G, Independent Challenge 1
 */

/* reset styles */
html {
   font-size: 12px;
}
article, body, div, footer, header, h1, h2, h3, nav, p, img, figcaption, figure {
   border: 0;
   padding: 0;
   margin: 0;
}
img {
   max-width: 100%;
   height: auto;
   width: auto;
   display: block;
}

/* global styles */
p {
   margin: 0.4em 0;
   font-size: 1.6em;
}

/* body and page container */
body {
   font-family: Lato, Arial, Helvetica, sans-serif;
   background: #faebbf;
}
.container {
   max-width: 864px;
   margin: 0 auto;
   padding: 1%;
   position: relative;
   background: url(images/grass.jpg);
}

/* skip navigation link */
p.skipnavigation {
   margin: 0;
}
p.skipnavigation a {
   position: absolute;
   left: -10000px;
}
p.skipnavigation a:focus {
   color: black;
   background-color: snow;
   top: 3.5%;
   left: auto;
   right: 3%;
   z-index: 2;
}

/* header section */
header {
   background-color: white;
   text-align: center;
}
h1 {
   font-weight: 700;
   font-size: 3em;
}

/* site navigation */
nav.sitenavigation {
   padding-left: 10%;
   background-color: rgb(241,90,36);
}
nav.sitenavigation p {
   display: inline-block;
   margin: 0.4em 0.6em;
   font-size: 1.6em;
}
nav.sitenavigation a:link {
   color: yellow;
   text-decoration: none;
}
nav.sitenavigation a:visited {
   color: #ffffff;
}
nav.sitenavigation a:hover, nav.sitenavigation a:focus {
   color: yellow;
   text-shadow: 1px -1px 0 #000000;
}

/* main content */
article {
   padding: 1% 1% 1% 5%;
   margin: 1% 0;
   text-align: left;
   background-color: rgb(255,255,255);
   overflow: auto;
}
article div {
   float: left;
   width: 73%;
}
h2 {
   margin: 0 0 0.4em;
   font-size: 2.4em;
   font-weight: 700;
}
h3 {
   font-size: 1.8em;
   font-weight: bold;
   color: green;
}
figure {
   width: 25%;
   float: right;
}

/* footer section */
footer {
   padding: 1% 1% 1% 5%;
   background-color: yellow;
   clear: both;
}

/* print styles */
@media print {
   .container, h1, h2, p {
      color: black;
      background: url(images/grass.jpg);
   }
   nav {
      display: none;
   }
}
@page {
   margin: 1in;
}